html {
  font-size: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  gap: 4px;
  padding: 10px;
  font-size: 2rem;
  width: 100vw;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10000;
}

.header .envios {
  display: flex;
  justify-content: end;
}

.header h3 {
  font-family: "Work Sans", sans-serif;
  color: white;
  padding-left: 20px;
  font-size: 2rem;
}

.navtexto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Aboreto";
  color: white;
  padding-right: 50px;
  gap: 40px;
  font-size: 1.5rem;
}

.header .navtexto .nav_text {
  cursor: pointer;
}

.buscar_nav {
  display: flex;
  gap: 20px;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.landpage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-image: url(/imagenes/land\ page.webp);
  background-size: cover;
  height: 40%;
}

.landpage .cuadro {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 80px;
}

.landpage .cuadro .mejoresprecios {
  margin-top: 40px;
  padding: 0px 20px;
  font-family: "Work Sans";
  font-size: 2rem;
  font-weight: 300;
  background-color: #d72d2d;
  color: white;
  width: fit-content;
}

.landpage .cuadro .super {
  font-family: "Work Sans", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  width: 60%;
  padding: 20px 0px;
}

.landpage .cuadro .gana {
  font-family: "Work Sans";
  font-size: 2rem;
  font-weight: 400;
  width: fit-content;
}

.landpage .cuadro .boton {
  font-family: "Work Sans";
  font-size: 2rem;
  font-weight: 400;
  width: fit-content;
  margin: 30px 0px;
  background-color: #751fff;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0px;
}

.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  padding: 40px;
}
.section .lado1 {
  background-image: url(/imagenes/iphone-short.png);
  background-size: cover;
  width: 50%;
  padding: 60px;
  padding-bottom: 50px;
}

.section .lado1 .ofertas {
  font-family: "Work Sans";
  font-size: 2.1rem;
  font-weight: 400;
  color: white;
}

.section .lado1 .hasta {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: 7rem;
  font-weight: 600;
  width: 50%;
  padding: 20px 0px;
}

.section .lado1 .smart {
  font-family: "Work Sans";
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.section .lado1 .boton {
  margin-top: 65px;
  font-family: "Work Sans";
  font-size: 2rem;
  font-weight: 400;
  width: fit-content;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0px;
  margin-bottom: auto;
}
.section .lado2 {
  background-image: url(/imagenes/auris_short.jpg);
  background-size: cover;
  width: 50%;
  padding: 60px;
  padding-bottom: 50px;
}

.section .lado2 .recien {
  font-family: "Work Sans";
  font-size: 2.1rem;
  font-weight: 400;
  color: white;
}

.section .lado2 .lleva {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: 6rem;
  font-weight: 600;
  width: 60%;
  padding: 20px 0px;
}

.section .lado2 .auris {
  font-family: "Work Sans";
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.section .lado2 .boton {
  margin-top: 30px;
  font-family: "Work Sans";
  font-size: 2rem;
  font-weight: 400;
  width: fit-content;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0px;
  margin-bottom: auto;
}

.productos_destacados {
  display: flex;
  justify-content: center;
  font-family: "Work Sans";
  font-size: 2rem;
  padding: 20px 0px;
  margin: 0px 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cards .card1 {
  width: 280px;
  height: 350px;
  margin: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards .card1 .caract {
  font-family: "Play", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(
    109.6deg,
    rgba(45, 116, 213, 1) 11.2%,
    rgba(121, 137, 212, 1) 91.2%
  );
  color: white;
  font-weight: 700;
}

.cards .card1 .cont_img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cards .card1 .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeb868;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cards .card1 .desc .precio {
  height: 70px;
  display: flex;
  font-family: "Work Sans";
  font-size: 3.5rem;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 10px;
  margin-left: 10px;
}

.cards .card1 .desc .precio img {
  height: 50%;
}

.cards .card1 .desc .carrito {
  font-size: 3rem;
  color: black;
  padding-right: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  color: white;
  font-size: 3rem;
  margin-top: 50px;
  width: 100%;
  height: 10rem;
  background-color: darkslategrey;
}

@media screen and (max-width: 937px) {
  .header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    gap: 20px;
    padding: 10px;
    font-size: 1rem;
    width: 100vw;
    top: 0px;
    right: 0px;
    left: 0px;
  }

  .header .envios {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #b11f1c;
    padding: 8px 10px;
    margin: 0px;
    gap: 20px;
  }

  .header h3 {
    padding-left: 00px;
    font-size: 2rem;
  }

  .navtexto {
    padding-right: 10px;
    gap: 35px;
    font-size: 2rem;
  }

  .landpage {
    margin-top: 90px;
    background-position: center;
  }
  .section {
    flex-wrap: wrap;
  }
  .section .lado1 {
    width: 100%;
  }
  .section .lado2 {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    gap: 20px;
    padding: 10px;
    font-size: 0.5rem;
    width: 100vw;
    top: 0px;
    right: 0px;
    left: 0px;
  }

  .header .envios {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #b11f1c;
    padding: 5px 10px;
    margin: 0px;
  }

  .header h3 {
    padding-left: 00px;
    font-size: 1.8rem;
  }

  .navtexto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Aboreto";
    color: white;
    padding-right: 0px;
    gap: 20px;
    font-size: 1.4rem;
  }

  .landpage {
    margin-top: 70px;
    background-position: center;
  }

  .landpage .cuadro {
    width: 75%;
    margin-left: 50px;
  }

  .landpage .cuadro .mejoresprecios {
    margin-top: 50px;
    padding: 0px 20px;
    font-size: 2rem;
    font-weight: 300;
  }

  .landpage .cuadro .super {
    font-size: 3.5rem;
    width: 90%;
    padding: 20px 0px;
    color: white;
  }

  .landpage .cuadro .gana {
    font-size: 2rem;
    font-weight: 400;
  }

  .landpage .cuadro .boton {
    font-size: 2rem;
    margin: 30px 0px;
    padding: 10px 20px;
    margin-left: 60px;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 20px 0px;
    height: 50%;
  }
  .section .lado1 {
    width: 100%;
    background-image: url(/imagenes/iphone-short.png);
    padding: 15px;
  }

  .section .lado1 .ofertas {
    font-size: 2.1rem;
  }

  .section .lado1 .hasta {
    padding: 20px 0px;
    font-size: 4rem;
  }

  .section .lado2 {
    background-image: url(/imagenes/auris_short.jpg);
    width: 100%;
    padding: 15px;
  }

  .section .lado2 .recien {
    font-size: 2.1rem;
  }

  .section .lado2 .lleva {
    font-size: 5rem;
    padding: 20px 0px;
  }
  .productos_destacados {
    font-family: "Work Sans";
    font-size: 2rem;
    padding: 10px 0px;
    margin: 0px 60px;
    margin-top: 0px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer {
    font-weight: 700;
    color: white;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 380px) {
  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    gap: 0px;
    padding: 10px;
    font-size: 5rem;
    width: 100vw;
    top: 0px;
    right: 0px;
    left: 0px;
  }

  .header .envios {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #b11f1c;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .header h3 {
    padding-left: 00px;
    font-size: 1.4rem;
  }

  .navtexto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Aboreto";
    color: white;
    padding-right: 0px;
    gap: 20px;
    font-size: 1rem;
  }

  .landpage {
    justify-content: center;
    align-items: center;
  }
  .productos_destacados {
    font-family: "Work Sans";
    font-size: 1.5rem;
    padding: 10px 0px;
    margin: auto;
    margin-top: 0px;
    width: 90%;
  }
}
